OPENROUTER_KEY=SUA_CHAVE_AQUI
GROQ_KEY_1=SUA_CHAVE_1_AQUI
GROQ_KEY_2=SUA_CHAVE_2_AQUI
GOOGLE_KEY_1=SUA_CHAVE_1_AQUI
GOOGLE_KEY_2=SUA_CHAVE_2_AQUI
CEREBRAS_KEY=SUA_CHAVE_AQUI
SAMBANOVA_KEY=SUA_CHAVE_AQUI
DEEPSEEK_KEY=SUA_CHAVE_AQUI
OLLAMA_KEY=ollama
